:root {
    --operator-color: rgb(242, 163, 60);
    --erase-buttons-color: rgb(72, 84, 104);
    --value-buttons-color: rgb(102, 112, 129);
    --display-color: rgb(59, 73, 88);
}

* {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 1.2rem;
}

.calculatorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 15em;
    border: solid var(--display-color) 2px;
    height: 20em;
}

.displaySection {
    height: 20%;
    border: solid var(--display-color) 1px;
    background-color: var(--display-color);
}

.displaySectionText {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    text-align: right;
    padding: 1em;
}

.keyboardSection {
    height: 80%;
    display: flex;
}

.keyboardSubsection {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.eraseSection {
    flex: 1;
    display: flex;
    background-color: var(--erase-buttons-color);
}

.eraseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: solid var(--display-color) 1px;
}

.backspaceButton {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--display-color) 1px;
}

.numberKeyboardSection {
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: stretch;
}

.operatorSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.numberKeyboardRow {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.numberTouch {
    flex: 1;
    background-color: var(--value-buttons-color);
    border: solid var(--display-color) 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.operatorTouch {
    background-color: var(--operator-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: solid var(--display-color) 1px;
}

.touchText {
    flex: 1;
    text-align: center;
}