* {
    padding: 0;
    margin: 0;
}

.calculatorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 15em;
    border: solid black 2px;
    height: 20em;
}

.displaySection {
    height: 20%;
    border: solid black 1px;
}

.displaySectionText {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    text-align: right;
    padding: 1em;
    font-size: large;
}

.keyboardSection {
    height: 80%;
    display: flex;
}

.keyboardSubsection {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.eraseSection {
    flex: 1;
    display: flex;
}

.eraseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: solid black 1px;
}

.backspaceButton {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
}

.numberKeyboardSection {
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: stretch;
}

.operatorSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.numberKeyboardRow {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.numberTouch {
    flex: 1;
    background-color: aqua;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.operatorTouch {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: solid black 1px;
}

.touchText {
    flex: 1;
    text-align: center;
}